<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zkouska">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zkouska">
        <activity android:name=".ui.main.view.FootballActivity"></activity>
        <activity android:name=".ui.main.view.BowlingTwoPlayersActivity" />
        <activity android:name=".ui.main.view.BowlingPlayersActivity" />
        <activity android:name=".ui.main.view.SettingActivity" />
        <activity android:name=".ui.main.view.ScoreActivity" />
        <activity android:name=".ui.main.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>